/es.uam.miso.modelado_15_06_17.zip
/es.uam.miso.modelado.zip
*.aird
old/es.uam.miso.modelado/tmp.txt
old/es.uam.miso.modelado/es.uam.miso.modelado2.jar
*/es.uam.miso.modelado.jar
*/dict/
*/libs/
*/bin/
*/META-INF/
*/.settings/
*/target/

*/build/
*/pass.json
*.class
