<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>ChatbotCreator</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>


	<context-param>
		<param-name>wordNet.file</param-name>
		<param-value>/Socio/file_properties.xml</param-value>
	</context-param>
	<context-param>
		<param-name>wordNet.dict</param-name>
		<param-value>/Socio/dict</param-value>
	</context-param>

	<!-- Linux Configuration -->
	<!-- </context-param> <context-param> <param-name>wordNet.file</param-name> 
		<param-value>/home/sara/Socio/file_properties.xml</param-value> </context-param> 
		<context-param> <param-name>wordNet.dict</param-name> <param-value>/home/sara/Socio/dict</param-value> 
		</context-param> -->
</web-app>