<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin id= "es.uam.esp.miso.FileServer" name ="FileServer" version ="1.0">

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SaveFiles -->
      <package
            uri="SaveFile"
            class="SaveFile.SaveFilePackage"
            genModel="model/SaveFiles.genmodel"/>
   </extension>

</plugin>
