<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SocioDatabase -->
      <package
            uri="socioProjects"
            class="socioProjects.SocioProjectsPackage"
            genModel="model/SocioDatabase.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SocioDatabase -->
      <package
            uri="projectHistory"
            class="projectHistory.projectHistoryPackage"
            genModel="model/SocioDatabase.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SocioDatabase -->
      <package
            uri="removeLog"
            class="removeLog.RemoveLogPackage"
            genModel="model/SocioDatabase.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SocioDatabase -->
      <package
            uri="branchDecision"
            class="branchDecision.BranchDecisionPackage"
            genModel="model/SocioDatabase.genmodel"/>
   </extension>

</plugin>
