<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated history -->
      <package
            uri="DslHistory"
            class="DslHistory.DslHistoryPackage"
            genModel="model/history.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RemoveLog -->
      <package
            uri="RemoveLog"
            class="RemoveLog.RemoveLogPackage"
            genModel="model/RemoveLog.genmodel"/>
   </extension>

</plugin>
